.form_container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.form_input{
    padding: 5px;
    border-color: rgb(232, 219, 219);
    border-radius: 10px;
    width: 250px;
}
.form_button{
    background: rgb(170, 157, 157);
    color: #fff;
    border-radius: 10px;
    margin-left: 10px;
}
.form_button:hover{
    background: rgb(131, 82, 82);
}